name: CI

on:
  pull_request:
  push:
    branches: ['main', 'v*']

jobs:
  CI:
    runs-on: ubuntu-latest

    strategy:
      matrix:
        toolchain: ['stable', 'nightly']
        target: ['', 'wasm32-unknown-unknown']

    steps:
      - uses: actions/checkout@v5

      - name: Setup mold
        run:  |
          sudo apt install mold clang
          echo '[target.x86_64-unknown-linux-gnu]'                     >> $HOME/.cargo/config.toml
          echo 'linker    = "clang"'                                   >> $HOME/.cargo/config.toml
          echo 'rustflags = ["-C", "link-arg=-fuse-ld=/usr/bin/mold"]' >> $HOME/.cargo/config.toml

      - name: Setup Rust
        run: |
          rustup update
          rustup default ${{ matrix.toolchain }}
          rustup target add wasm32-unknown-unknown
          rustup component add rustfmt clippy
      
      - name: Test documentations
        working-directory: ./sqlx-d1
        run: cargo test --doc --features macros

      - name: Check fmt
        run: |
          cargo fmt --all --check

      - name: Check clippy
        working-directory: ./sqlx-d1
        run: |
          TARGET=$(test '${{ matrix.target }}' && echo '${{ matrix.target }}' || (rustc --print host-tuple))
          echo "---> testing on target '$TARGET'"
          cargo clippy --all-targets --target $TARGET -- --deny warnings
          cargo clippy --all-targets --target $TARGET --features json -- --deny warnings
          cargo clippy --all-targets --target $TARGET --features uuid -- --deny warnings
          cargo clippy --all-targets --target $TARGET --features chrono -- --deny warnings
          cargo clippy --all-targets --target $TARGET --features macros -- --deny warnings
          cargo clippy --all-targets --target $TARGET --features decimal -- --deny warnings
          cargo clippy --all-targets --target $TARGET --features json,uuid,chrono,macros,decimal -- --deny warnings

      - name: Check sandbox
        working-directory: ./sandbox
        run: |  # sandbox has `.cargo/config.toml` that specifies `target = "wasm32-unknown-unknown"`
          mv ./wrangler.toml.sample ./wrangler.toml
          mv ./.sqlx ./tmp
          cargo build 2>&1 | tee tmp.log \
            && (echo '---> unexpectedly build scceeded'; exit 1) \
            || (grep 'Neither miniflare D1 emulator nor .sqlx directory is found !' tmp.log && echo '---> expected behavior' || exit 1)
          mv ./tmp ./.sqlx
          cargo build
          echo '---> build suceeded with .sqlx directory as expected'
          cargo build --features DEBUG  # checking `readme_sample`
          echo '---> `readme_sample` is sucessfully built'
          cargo build --target $(rustc --print host-tuple) \
            && echo '---> compilation itself suceeds for native target' \
            || exit 1
